<div style="display: flex; justify-content: space-between;">
  <div style="text-align: left;">
    <p><a href="{% url 'learning_logs:index' %}">Learning Log</a></p>
    <p><a href="{% url 'learning_logs:topics' %}">Topics</a></p>
  </div>
  
  <div style="text-align: right;">
    {% if user.is_authenticated %}
      Hello, {{ user.username }}
      <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Log Out</button>
      </form>
    {% else %}
      <p><a href="{% url 'users:register' %}">Register</a></p>
      <p><a href="{% url 'users:login' %}">Log in</a></p>
    {% endif %}
  </div>
</div>

{% block content %}{% endblock content %}
